from pathlib import Path
from typing import Any

from .defaults import *  # noqa
from .defaults import INSTALLED_APPS, MIDDLEWARE

BASE_DIR = Path(__file__).resolve().parent.parent

DEBUG = True

INSTALLED_APPS += (
    "debug_toolbar",
    "django_extensions",
)

MIDDLEWARE += ("debug_toolbar.middleware.DebugToolbarMiddleware",)


# for django-debug-toolbar (allow all remote origin)
def custom_show_toolbar(request: Any) -> bool:  # noqa: ARG001
    return True


# for django-debug-toolbar
DEBUG_TOOLBAR_CONFIG = {
    "SHOW_TOOLBAR_CALLBACK": custom_show_toolbar,
    "RESULTS_STORE_SIZE": 100,
}

ALLOWED_HOSTS = ["*"]

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "postgres",
        "USER": "postgres",
        "PASSWORD": "postgres",  # pragma: allowlist secret
        "HOST": "postgresql",
        "PORT": "5432",
    }
}

SECRET_KEY = "&0=lu%bl%d^ejt#s8bjw3z6!-bkq%z5=^vs#jkio6)a)df!6#t"

LANGUAGE_CODE = "fr-FR"

TIME_ZONE = "Europe/Paris"

STATIC_ROOT = BASE_DIR / "static/static/"

MEDIA_ROOT = BASE_DIR / "static/media/"

MEDIA_URL = "/media/"

EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"

CELERY_BROKER_URL = (
    "amqp://app_user:password@rabbitmq:5672/app_vhost"  # pragma: allowlist secret
)
CELERY_BROKER_USE_SSL = False
CELERY_TIMEZONE = TIME_ZONE
