[
    { rabbit, [
        { password_hashing_module, rabbit_password_hashing_md5 },
        { loopback_users, []},
        { tcp_listeners, [ 5672 ]},
        { ssl_listeners, [ ]},
        { hipe_compile, false }
    ]},
    { rabbitmq_management, [
        { listeners, [
            { port, 15672 },
            { ssl, false }
        ]},
        { load_definitions, "/etc/rabbitmq/definitions.json"}
    ]}
].
